.App {
  text-align: center;
  display: block;
}

.App-header {
  margin: auto;
  display: block;
  text-align: center;
  padding: 30px auto;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  height: 200px;
  width: 800px;
  background: linear-gradient(#fcd181b4, #faed7749, #f3676e8a);
  border-radius: 2%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  display: block;
}

.info-weather {
  margin-left: 90%;
  text-align: right;
  margin-right: 0;
}

p {
  font-size: 60%;
  padding: 20px auto;
}
footer {
  font-size: small;
}
