.App {
  text-align: center;
  display: block;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: #b2b5f7;
  border-style: double;

  height: 200px;
  width: 800px;
  background: linear-gradient(#81fcf0b4, #faed7749, #f367e38a);
  border-radius: 2%;
}

.App-link {
  color: #61dafb;
}

.city-result {
  text-align: right;
}

ul {
  list-style-type: none;
}

.info-weather {
  margin-left: 90%;
  text-align: right;
  margin-right: 0;
}

p {
  font-size: 60%;
  padding: 20px auto;
}
footer {
  font-size: small;
}
