form {
  display: block;

  padding: 30px 80px;
}

.main-results {
  text-align: center;
  display: block;
  margin: 30px;
}
input {
  background-color: #fcf7c9;
  border-radius: 8px;
  opacity: 65%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.9s ease;
}
.search-bar {
  margin: 10px 10px;
}
:focus {
  outline: 3px solid #f3676e8a;
}
input:hover {
  background-color: #f3676e8a;
  pointer-events: visiblePainted;
}
p {
  font-size: 60%;
  padding: 20px auto;
}

.info-weather {
  margin-left: 90%;
  text-align: right;
  margin-right: 0;
}

ul {
  list-style-type: none;
  display: block;
}
